*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divimg{
    background-image: url(https://krasivosti.pro/uploads/posts/2021-04/1617825127_5-p-koshka-oboi-kot-viglyadivaet-7.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}
h1{
    padding: 5px;
}
p{
    padding: 5px;
}